<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <connectionStrings>
    <add name="testdb1Entities" connectionString="metadata=res://*/AzureDbContext.csdl|res://*/AzureDbContext.ssdl|res://*/AzureDbContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=fsd10-demo-sqlserver.database.windows.net;initial catalog=testdb1;persist security info=True;user id=fsd10-demo-sqlserver-admin;password=JsB3ZJa!gR6wkVS;encrypt=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>